@media (max-width: 576px) {
    h2 {
      font-size: 1.4rem;
    }
  
    .task-item {
      padding: 1rem !important;
    }
  
    .task-title {
      font-size: 1rem;
    }
  
    .task-item-header {
      font-size: 1.1rem;
    }
  
    .task-item .badge {
      font-size: 0.8rem;
    }
    .task-item img.rounded-circle {
        width: 20px;
        height: 20px;
    }
  }

  @media (max-width: 772px) {
    .layout-page {
        width: 100%;
        margin-left: auto !important;
    }
  }
    